
.container {
    padding-top: 5em;
    padding-bottom: 5em;
    width: 90%;
    margin: auto;
    text-align: start;
    line-height: 3em;
    font-weight: bold;
    font-size: 0.9em;
  }
  
  #container-header.container-line {
    font-size: 0.8em;
    line-height: 1.2em;
  }
  
  .container-row{
    display: flex;
    flex-direction: column;
    border: 2px solid #98a3b0;
    background-color: white;
  }
  
  .container-line {
    display: flex;
    width: 100%;
  }
  
  .container-details {
    padding-left: 5%;
  }
  
  .container-arrow {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-arrow div {
    height: 60%;
  }
  
  .container-details-notes .visible, .container-details-category .visible {
    padding-left: 1em;
  }
  
  .container-arrow div img {
    height: 100%;
    fill: black;
    stroke: black;
  }
  
  .container-date {
    width: 20%;
  }
  
  .container-description {
    width: 30%;
  }
  
  .container-amount {
    width: 25%;
  }
  
  .container-balance {
    width: 20%;
  }