.login-form label,
.login-form input {
  display: block;
  text-align: left;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1.2em;
}

#errorMessage {
  color: tomato;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.input-remember label{
    display: flex;
    justify-content: start;
    padding: 0;
}

.input-remember input {
    padding: 0;
    margin: 0;
    margin-right: 0.25rem;
    width: 14px;
}

label.input-wrapper {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

.input-wrapper {
  font-weight: bold;
}

.input-wrapper span {
  font-size: 1.2rem;
}

.input-wrapper input {
  margin: 0;
}